
@model SerwisKsiazkowy.ViewModels.HomeViewModel
@{

    ViewBag.Title = "Witaj w świecie książek!";
    
}



<div role="tabpanel" class="down">
    <div class="col-sm-2">
        <div class="genresMenu">
            <ul class="nav nav-tabs nav-stacked" role="tablist">
                @foreach (var genre in Model.Genres)
                {
                    <li>
                        <a href="@Url.Action("ListGenres", "Book", new { genrename = genre.Name.ToLower() })">
                            @genre.Name
                        </a>
                    </li>
                }
                @*<li role="presentation" class="brand-nav "><a href="Book-details.html" aria-controls="tab1" role="tab" data-toggle="tab">Lorem ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="Main.html" aria-controls="tab2" role="tab" data-toggle="tab">Zombie ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Gansta ipsum</a></li>
                <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Corporate ipsum</a></li>*@

            </ul>
         </div>
    </div>
        <div class="col-sm-10">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <div id="booklist-details-right">
                        @foreach (var book in Model.LastBooks)
                        {
                            <div id="booklist-border">
                                <div id="booklist-details-left">

                                    <img src="@Url.Content("~/Content/Covers/" + book.CoverFileName)" />
                                </div>

                                @*<a href="@Url.Action("Details", "Book", new { id = book.BookId })">
                                    @book.Title
                                </a>*@


                                <div id="booklist-details-names">

                                    <h2>
                                        <a href="@Url.Action("Details", "Book", new { id = book.BookId,  _title = book.Title.Replace(" ", "-").ToLower().ToString() } )">
                                            @book.Title
                                        </a>




                                    </h2>

                                    <h1>
                                        Autor: @book.Author
                                    </h1>

                                </div>

                                <div id="booklist-details-names">

                                    <h1>
                                        Wydawnictwo: @book.Publisher
                                    </h1>
                                    <h1>
                                        Gatunek: @book.Genre.Name
                                        @*Gatunek: @book.Genres.Where(a => a.BookId == book.BookId).Single().Name*@




                                    </h1>
                                    <h1>
                                        Liczba stron: @book.Pages
                                    </h1>
                                    <h1>
                                        Data premiery: @book.YearPublished
                                    </h1>
                                    <h1>
                                        Ocena: @book.Rate / 5
                                    </h1>



                                </div>
                            </div>



                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
