
@model SerwisKsiazkowy.ViewModels.HomeViewModel
@{

    ViewBag.Title = "Witaj w świecie książek!";
}



<div role="tabpanel" class="down">
    <div class="col-sm-2">
        <ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
            @foreach (var genre in Model.Genres)
            {
                <li>
                    <a href="@Url.Action("List", "Book", new { genrename = genre.Name.ToLower() })">
                        @genre.Name
                    </a>
                </li>
            }
            <li role="presentation" class="brand-nav "><a href="Book-details.html" aria-controls="tab1" role="tab" data-toggle="tab">Lorem ipsum</a></li>
            <li role="presentation" class="brand-nav"><a href="Main.html" aria-controls="tab2" role="tab" data-toggle="tab">Zombie ipsum</a></li>
            <li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Gansta ipsum</a></li>
            <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Corporate ipsum</a></li>
            
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                @foreach (var book in Model.LastBooks)
                {
                    
                        <a href="@Url.Action("Details", "Book", new { id = book.BookId })">
                            @book.Title
                            @book.Rate  /5
                        </a>
                    
                }
                <p>
                    Nam sodales magna eget nulla interdum gravida. Aenean cursus magna vel lorem eleifend, vel eleifend massa rhoncus.
                    Duis accumsan vehicula ultricies. Proin tincidunt blandit congue. Curabitur semper odio ut malesuada dapibus.
                </p>
            </div>
            
        </div>
    </div>
</div>
