@*@model SerwisKsiazkowy.ViewModels.HomeViewModel*@
@model SerwisKsiazkowy.ViewModels.HomeViewModel

@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using SerwisKsiazkowy.Infrastructure

@{

    ViewBag.Title = "Witaj w świecie książek!";

}


<div role="tabpanel" class="down">
    <div class="col-sm-2">
        <div class="genresMenu">
            <ul class="nav nav-tabs nav-stacked" role="tablist">
                @if (Model.Genres != null)
                {
                    foreach (var genre in Model.Genres)
                    {
                        <li>
                            <a href="@Url.Action("ListGenres", "Book", new { genrename = genre.Name.ToLower().ToString() })">
                                @genre.Name
                            </a>
                        </li>
                    }

                }

            </ul>

        </div>

    </div>

    <div class="col-sm-10">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
                <div id="booklist-details-right">
                    @foreach (var book in Model.LastBooks)
                    {
                        <div id="booklist-border">
                            <div id="booklist-details-left">

                                <img src="@Url.Content("~/Content/Covers/" + book.CoverFileName)" />
                            </div>

                            <div id="booklist-details-names">

                                <h2>
                                    <a href="@Url.Action("Details", "Book", new { id = book.BookId,  _title = book.Title.Replace(" ", "-").ToLower().ToString() } )">
                                        @book.Title
                                    </a>

                                </h2>

                                <h1>
                                    Autor: @book.Author
                                </h1>

                            </div>

                            <div id="booklist-details-names">

                                <h1>
                                    Wydawnictwo: @book.Publisher
                                </h1>
                                <h1>
                                    Gatunek: @book.Genre.Name

                                </h1>
                                <h1>
                                    Liczba stron: @book.Pages
                                </h1>
                                <h1>
                                    Data premiery: @book.YearPublished.ToShortDateString()
                                </h1>
                                <h1>
                                    Ocena:

                                    @if (book.AvgRating == 0)
                                    {
                                        <span>Brak</span>
                                    }
                                    else
                                    {
                                        <span>@book.AvgRating / 10</span>
                                    }

                                </h1>

                            </div>
                        </div>
                    }
                    @Html.PagedListPager(Model.LastBooks, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script>

        $(function () {

            $("#MultiSelectDropDown").chosen();

        });


    </script>

}
