@model SerwisKsiazkowy.Models.Comment


    @*<img src="@Url.Content("~/Content/Covers/" + Model.Book.CoverFileName).First())" />*@
    <h1>@ViewBag.bookTitle.ToUpper()</h1>
    
    


@using (Html.BeginForm("AddInAll", "Comment",  new { bookId = @ViewBag.bookId, bookTitle = @ViewBag.bookTitle },FormMethod.Post))
{
   

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Dodaj komentarz</h4>
        <hr />
        @Html.HiddenFor(model => model.BookId)
        @Html.HiddenFor(model => model.UserId)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj komentarz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Powrót", "Details","Book", new { id = @ViewBag.bookId, _title = name })

</div>*@
