@model SerwisKsiazkowy.ViewModels.HomeViewModel
@using SerwisKsiazkowy.Infrastructure

<div class="col-sm-2">
    <div class="genresMenu">

        <ul class="nav nav-tabs nav-stacked">
            @foreach (var genre in Model.Genres)
            {
                <li>

                    @if (HttpContext.Current.Request.Url.AbsolutePath.Split('/').ElementAt(2) == genre.Name.ToLower().ToString())
                    {
                        <a class="btn-success btn-block" href="@Url.Action("ListGenres", "Book", new { genrename =  genre.Name.ToLower().ToString() })">
                            @genre.Name
                        </a>
                    }
                    else
                    {
                        <a class=" nav-link btn-block" href="@Url.Action("ListGenres", "Book", new { genrename =  genre.Name.ToLower().ToString() })">
                            @genre.Name
                        </a>
                    }
                </li>
            }


        </ul>

        @using (Html.BeginForm("FilterList", "Book", new { genrename = ViewBag.genrename, listAuthor = Model.Author1 }))
        {

            <div class="menu-left">
                <p>Autor:</p>
                @Html.ListBoxFor(model => Model.Author1, new MultiSelectList(Model.Authors, "Author", "Author").GroupBy(x => x.Text).Select(x => x.First()), new { id = "MultiSelectDropDown", multiple = "multiple", genrename = @ViewBag.genrename, data_placeholder = "Wybierz autora..." })


            </div>
            <hr class="style1">
            <div class="menu-left">
                <p>
                    Znajdź tytuł: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { style = "width:150px;", htmlAttributes = new { @class = "form-control" } })

                </p>
            </div>
            <hr class="style1">
            <div class="menu-left">
                <p>
                    Sortowanie:
                    @Html.DropDownList("sorting", null, htmlAttributes: new { @class = "form-control" })
                </p>
            </div>
            <hr class="style1">
            <div class="slider">
                <p>
                    <label for="ratings">Ocena</label>
                    <input type="text" id="ratings" class="ratings" readonly style="border:0; color:#f6931f; font-weight:bold; width:80%;">
                    @*<input type="text" id="MinRatings" name="MinRatings" readonly style="border:0; color:#f6931f; font-weight:bold; width:80%;">*@
                    @Html.HiddenFor(model => model.MaxRating, new { id = "MaxRating", name = "MaxRating" })
                    @Html.HiddenFor(model => model.MinRating, new { id = "MinRating", name = "MinRating" })

                    <div id="slider-range"></div>
                </p>
            </div>
            <hr class="style1">
            <p><button type="submit" class="btn btn-primary  btn-block">Szukaj</button></p>
        }

    </div>

</div>

