@model IEnumerable<SerwisKsiazkowy.Models.Review>


<div id="book-details-comments">

    <h1>
        Recenzje
    </h1>
    @if (Model.Count() == 0)
    {
        <div>Brak recenzji</div>
    }
    else
    {
        foreach (var reviews in Model)
        {
            <div id="book-details-comment">
                <div id="book-details-comment-details">
                    Autor:
                    @if (reviews.UserId != null)
                    {
                        @reviews.User.UserName

                    }

                    Data dodania: @reviews.DateAdded.ToString("dd MMMM yyyy hh:mm")
                    @using (@Html.BeginForm("Delete", "Review", new { id = reviews.ReviewId, bookId = reviews.BookId, bookTitle = reviews.Books.Title.Replace(" ", "-").ToLower().ToString() }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        var myModal = reviews.BookId + "-" + reviews.ReviewId;
                        <div id="button-delete">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@myModal">Usuń</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel">


                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Potwierdzenie usunięcia</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @myModal
                                        Czy napewno checesz usunąć recenzje?

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                        <input type="submit" value="Usuń" class="btn btn-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                </div>
                <div id="book-details-comment-content">
                    @*@comments.Content*@
                    @Html.DisplayFor(modelItem => reviews.Content)
                    <br />
                    Ocena: @Html.DisplayFor(modelItem => reviews.RateValue) / 5

                </div>
            </div>
        }
    }



</div>
