
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link href="../Content/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <script src="../Scripts/bootstrap.min.js"></script>
        <script src="../Scripts/modernizr-2.8.3.js"></script>*@
    @*<link href="../Content/Site.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Scripts")*@
</head>
<body>


    <div class="site">


        <div class="row">

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="site">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" datatoggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Serwis książkowy</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                            <li>@Html.ActionLink("Informacje", "About", "Home")</li>
                            <li>@Html.ActionLink("Zarządzanie", "Index", "Manage")</li>
                            <li>@Html.ActionLink("Regulamin", "StaticContent", "Home", new { viewname = "regulamin" }, null)</li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right bg-light">
                            <li>
                                <div class="search">
                                    <form class="form-inline mr-auto" method="get" action="/">
                                        <p>
                                            <input class="form-control mr-sm-2" type="text" name="SearchString" placeholder="Szukaj...">
                                            @*<input class="fas fa-search" type="submit" value="Szukaj" />*@
                                            @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>*@
                                        </p>
                                    </form>
                                </div>
                            </li>

                            @*<li><a href="/Account/Register" id="registerLink">Rejestracja</a></li>
                            <li><a href="/Account/Login" id="loginLink">Logowanie</a></li>*@
                            @Html.Partial("_LoginPartial")
                        </ul>

                    </div>

                </div>

            </div>

            <div class="row">

                @RenderBody()
            </div>






            <div>
                <hr />
                <footer>

                    &copy; @DateTime.Now.Year Serwis książkowy Łukasz Krysiak

                </footer>
            </div>

        </div>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
